body {
  --color1:#056766;
  --color3: #1D1D1D;
  --color-cta: #17BFBD;
  --color-cta2: #D88C14;
  font-family: 'Montserrat', sans-serif;
}


/*fascia_iniziale*/

#fascia_azzurra { background-color:var(--color1);}

#fascia_azzurra .foto_irene {
    background-image: url("./images/foto-irene.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 #fascia_azzurra .colonna_destra {
    padding-top: 50px;
 }

 #fascia_azzurra .colonna_destra .loghetti {
    padding: 40px;
 }

 #fascia_azzurra .colonna_destra .loghetti img {
   height: auto;
 }

 #fascia_azzurra h1 {
  font-size: 27px;
  font-weight: 300;
  color: #FFF;
  letter-spacing: 0.31em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  }

 #fascia_azzurra h2 {
  font-size: 57px;
  font-weight: 300;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 30px;
  }

#fascia_azzurra p {
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  }

#fascia_azzurra p.titoletto {
  font-size: 17px;
  line-height: 2.4em;
  }



/*portfolio*/

#portfolio_irene_ucciero {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 70px 30px;
  background-color: var(--color3);
  background-image: url("./images/svgs/pattern.svg");
  background-size: 22%;
}

#portfolio_irene_ucciero .box_portfolio {
  width: 100%;

  margin: 15px auto;
  border-radius: 20px;
  border: 1px solid var(--color1);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  box-shadow: 1px 4px 18px -4px rgba(0,0,0,0.6);
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  }

#portfolio_irene_ucciero .box_portfolio .cover {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 30px 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  }

#portfolio_irene_ucciero .box_portfolio:hover .cover {
  background-color: rgba(5,103,102,0.7);
  backdrop-filter: blur(10px);
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  }

#portfolio_irene_ucciero .box_portfolio .didascalia {
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color1);
  padding: 16px 10px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  }

#portfolio_irene_ucciero .box_portfolio img.placeholder {
  width: 100%;
  height: auto;
  display: block;
  }

#portfolio_irene_ucciero .box_portfolio img.logo_cliente {
  width: 150px;
  height: auto;
  display: block;
  position:absolute;
  top:45%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  }

#portfolio_irene_ucciero .box_portfolio:hover img.logo_cliente {
  opacity: 1;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  }

#portfolio_irene_ucciero h1 {
  font-size: 27px;
  font-weight: 500;
  color: var(--color1);
  letter-spacing: 0.31em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  }

#portfolio_irene_ucciero h2 {
  font-size: 57px;
  font-weight: 300;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 40px;
  }

#portfolio_irene_ucciero h3 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  color: #FFF;
  text-align: center;
  margin-bottom: 60px;
  }

#portfolio_irene_ucciero p {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  }

#portfolio_irene_ucciero .button {
  width: 100%;
  height: auto;
  text-align: center;
  }

#portfolio_irene_ucciero .button a.btn {
  width: 45%;
	display:inline-block;
	padding:12px 20px 10px;
  font-family: var(--font-family-1);
	text-transform:uppercase;
	font-size:13px;
	font-weight: 600;
	letter-spacing:0.1em;
	border-radius:40px;
	text-align:center;
	margin:0 5px;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
  z-index: 22;
	}

#portfolio_irene_ucciero .button a.btn.btn1,
#portfolio_irene_ucciero .button a.btn.btn2 {
	border:2px solid transparent;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 15px 50%;
  border: 1px solid var(--color-cta);
	}

#portfolio_irene_ucciero .button a.btn.btn1 { background-color:var(--color-cta); color: var(--color3); }
#portfolio_irene_ucciero .button a.btn.btn2 { background-color: transparent; color: var(--color-cta);	}

#portfolio_irene_ucciero .button a.btn.btn1:hover,
#portfolio_irene_ucciero .button a.btn.btn2:hover {
  border: 1px solid var(--color-cta2);
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
	}

#portfolio_irene_ucciero .button a.btn.btn1:hover { background-color:var(--color-cta2); color: var(--color3); }
#portfolio_irene_ucciero .button a.btn.btn2:hover { background-color: transparent; color: var(--color-cta2);	}



/* ====== XS ======  */
@media only screen and (min-width : 0) and (max-width : 767px) {

#portfolio_irene_ucciero {
  width: 100%;
  height: auto;
  padding: 40px 15px;
  }

#portfolio_irene_ucciero h1 { font-size: 23px; }
#portfolio_irene_ucciero h2 { font-size: 47px; margin-bottom: 20px; }
#portfolio_irene_ucciero h3 { margin-bottom: 30px; }

#portfolio_irene_ucciero .button a.btn {
  width: 48%;
	padding:12px 10px 10px;
	font-size:11px;
	margin:0 2px;
	}

}